body{
    background-image: url('../images/background.jpg');
text-align: center;
margin:0 auto;

}
.mainLogo{
    width: 100px auto;
    float: left;
}

.container-fluid{
    text-align: center;
    width:90%;
    margin: auto;

}
.headers{
    margin-top: 30px;
}
.mainHeader{
    color:blue;
    font-family: 'Pixelify Sans', sans-serif;

}
.subHeader{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;

}
hr{
    color: 10px blue dotted;
}
.navBar>a{
    padding:10px;
    font-size: larger;
}
.navBar{
    margin-bottom: 20px;
}
#listMain>ol li{
    
    text-align: left;
    font-weight:bold;
  
}
#listMain{
    width: 90%;
    margin: auto;
    
}

.tableInfo{
    border: 2px solid black;
    padding: 3px;
    text-align: center;
    margin: auto;
}
 .tableInfo td,tr>th{
    border:2px solid black;
    padding:3px;
    
    
}
h5{
    font-weight: bold;
}

 hr,.dottedLine{
    border-top: 4px dashed blue;
 }
 .col-sm img{
    width: 70%;
 }
 .adoptExpand:hover{
    transform:scale(0.9);
    transition: ease-out;
 }
    


